<a href="/articles"><b>View all Articles</b></a>

<h1>Showing selected Article</h1>

<p>
  <h3>Title:</h3>
  <div style="margin-left: 1em;"><%= @article.title %></div>
</p>

<p>
  <h3>Description:</h3>
  <div style="margin-left: 1em;"><%= @article.description %></div>
</p>

<p>
  <a href=<%= "#{@article.id}/edit" %>><b>Edit Article</b></a>
</p>